LINE_CHANNEL_SECRET=7faf17598d812c90b35c2a2203ff1092
LINE_CHANNEL_ACCESS_TOKEN=iU8py/DGHHql7TBpOomcCeAQDamsS2b7g8ra1ZLUOtxglgs87Mmlce7D/aMr47yMHYHPdwNCGySQF/kLw3v5Ucxm9/csIlLh6/qOhO0NTleQihbdD76z/Yd0H1Y1I8GX9RyPM4/ZEG8p5PfGJwzciAdB04t89/1O/w1cDnyilFU=9Yw2t5CPXoriBFahXT65T7ZzXAH4iVPbQYQ9GD4Kw50HPKOJKW2FVQjxBEunGMmND/bfDiSkEsrHaYtAS/fKH6vi9aMnwsM08hZJmg/xwPJVD=
PORT=8000